html,
body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffffb1;
    overflow-x: hidden;
}

header {
    padding: 10px 15px;
    position: relative;
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
}

header .wrapper {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

header .wrapper .logo img {
    width: 100%;
    max-height: 60px;
}

header .wrapper .logo {
    padding-right: 30px;
    cursor: pointer;
}

.menu .nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: stretch;
    height: 100%;
    padding-right: 100px;
}
.menu .nav .item{
    display: flex;
    padding: 0 5px;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    transition: all ease-in-out 0.3s;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.menu .nav .item:hover{
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.menu .nav .item .content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
}
.menu .nav .item .icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu .nav .item .icon svg{
    width: 20px;
    transition: all ease-in-out 0.3s;
}

.menu .nav .item:hover .icon svg{
    width: 20px;
    transform: rotateZ(-180deg);
}

.mobile-menu-icon .menu-icon{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.mobile-menu-icon .menu-icon:hover{
    scale: 1.05;
}

.mobile-menu-icon .menu-icon svg{
    width: 30px;
}
/* SLIDER */
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px;
    gap: 30px;
}

.slider .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider .foto img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .foto .left {
    display: flex;
    position: absolute;
    left: -1%;
    top: 500px;
    z-index: 0;
}

.slider .foto .rigth {
    display: flex;
    position: absolute;
    right: -3%;
    top: 590px;
    z-index: 0;
}

.register-button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    z-index: -111;
}

.register-button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.register-button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}
/* SLIDER */


/*MOBILE MENU*/
.mobile-menu-container{
    /* background: #0000007d; */
    z-index: 9999;
    cursor: pointer;
}
.mobile-menu-container .mobile-menu{
    position: fixed;
    left: -100%;
    top: 0;
    width: 20%;
    cursor: auto;
    min-width: 300px;
    height: calc(100vh - 40px);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 30px;
    border-radius: 0 20px 20px 0 ; 
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all ease-in-out .6s;
}
.mobile-menu-container.active .mobile-menu{
    left: 0;
}
.mobile-menu-container .mobile-menu .top-menu #close-mobile-menu{
    cursor: pointer;
}
.mobile-menu .top-menu{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu .top-menu svg{
    width: 15px;
    height: 15px;
    fill: rgb(55, 55, 55);
    stroke: rgb(55, 55, 55);
    transition: all ease-in-out 1.5s;
}
.mobile-menu .top-menu svg:hover{
    scale: 1.05;
    fill: rgb(0, 0, 0);
    stroke: rgb(0, 0, 0);
    transform: rotateZ(360deg);

}

.mobile-menu .top-menu .logo img{
    max-width: 60px;
}

.mobile-menu .nav-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    width: 100%;
    max-height: 80vh;
    margin-top: 50px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}
.nav-menu::-webkit-scrollbar{
    display: none;
}
.mobile-menu .nav-menu .item{
    display: flex;
    width: calc(100% - 20px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}

.nav-menu .item .content{
    font-size: 18px;
    letter-spacing: -0.5px;
}
.nav-menu .item .icon svg{
    width: 20px;
    height: 20px;
    transition: all ease-in-out 0.5s;
}
.nav-menu .item:hover .icon svg{
    transform: rotateZ(-180deg);
}
.nav-menu .item:hover{
    background: rgb(240, 240, 240);
    transition: all ease-in-out 0.3s;
}
/*MOBILE MENU*/

/* CONTACT-US */

   .contact-us {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20px;
  }
  .contact-us .contact-foto{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 530px;
  }
  .contact-us .contact-foto img{
    width: 270px;
    height: auto;
  }
  .contact-info {
    text-align: center;
    color: #000000;
    font-size: 24px;
    margin-right: 50px;
  }
  
  .contact-info h2 {
    margin-top: 0;
    font-size: 36px;
  }
  
  .contact-info p {
    margin-bottom: 0;
  }
  
  form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  form h3 {
    margin-top: 0;
    font-size: 24px;
    color: rgb(48, 53, 190);
  }
  
  form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 150px;
  }
  
  form .contact-us-button[type="submit"] {
    background-color: rgb(48, 53, 190);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  
  form .contact-us-button[type="submit"]:hover {
    background-color: rgb(48, 53, 190);
    transition: all ease-in-out 0.5s;
    transform: scale(1.05);
  }
  
/* CONTACT-US */

/* EKIBIMIZ */
.team-ceo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-social-icons .card svg {
    height: 25px;
  }
  
 .personal-social-icons .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    border-radius: 10px;
    height: 50px;
    width: 200px;
  }
  
  .personal-social-icons .card::before, .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
 .personal-social-icons .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #294269;
  }
  
  .personal-social-icons .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #315182;
  }
  
  .personal-social-icons .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .personal-social-icons .card:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .personal-social-icons .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .personal-social-icons .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .personal-social-icons .card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 19px;
    font-weight: 700;
    opacity: 1;
    gap: 10px;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .personal-social-icons .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .personal-social-icons .card .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  }
  
  .personal-social-icons .card .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
.team-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px;
    
    
}

.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	background-color: #162447;
	color: #fff;
	padding: 20px;
    justify-content: stretch;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    gap: 20px;
}
.team-member:hover{
    transition: all ease-in-out 0.5;
    transform: scale(1.05);
}

.team-member img {
	width: 100%;
	max-width: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.team-member h3 {
	font-size: 24px;
	margin: 0;
}

.team-member p {
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* EKIBIMIZ */

/* ANASAYFA-ABOUT-US */
.index-about-us{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.index-about-us .title{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.index-about-us .text p{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.index-about-us .foto{
    max-width:600px;
}
.title .about-us-button[type="submit"] {
    background-color: rgb(48, 53, 190);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    text-decoration: none;
    display: flex;
  }
.title .about-us-button[type="submit"]:hover {
    background-color: rgb(48, 53, 190);
    transition: all ease-in-out 0.5s;
    transform: scale(1.05);
  }
/* ANASAYFA-ABOUT-US */
/* ABOUT-US */
.about-us{
    margin-top: 150px;
    width: 100vw;
    height: 60vh;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
}
.about-us .about-us-left{
    width: 50%;
    margin-left: 100px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.about-us .about-us-left .logo{
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us .about-us-left .logo img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    align-items: center;
}
.about-us .about-us-left .slogan h1{
    font-size: 25px;
    display: flex;
    text-align: center;
}
.about-us .about-us-right{
    margin-right: 90px;
}
.about-us .about-us-right .info{
    margin-left: 20px;
}
.about-us .about-us-right .info .about-us-title p{
    font-size: 23px;
    font-weight: 1000;
}
.about-us .about-us-right .info .about-us-text p{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.514);
    font-weight: 100;
    text-align: justify;
}
.about-us-right .alanlarimiz{
    gap: 2px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
}
.about-us-right .alanlarimiz .alanlarimiz-title{
    font-size: 23;
    font-weight: 1000;
}
.about-us-right .alanlarimiz .un-list{
    gap: 6px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
}
.about-us-right .alanlarimiz .list{
    color: #1a2a42a3;
    cursor: pointer;
    font-size: 18px;
    gap: 10px;
    transition: all ease-in-out 0.5s;
}
.about-us-right .alanlarimiz .list:hover{
    transition: all ease-in-out 0.5s;
    scale: 1.02;
}
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 400px;
    font-size: 16px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }
  * {
    box-sizing: border-box;
  }
.about-us-bottom{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(#1d3151, #4f75af);
}
.about-us-bottom .bottom-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-us-bottom .bottom-left .bottom-left-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    color: white;
}
.about-us-bottom .bottom-left p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 1000;
    color: white;
    margin-left: 100px;
}
.about-us-bottom .bottom-right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.about-us-bottom .bottom-right img{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
    margin-right: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-us-bottom .bottom-right img:hover{
    transition: all ease-in-out 0.5s;
    transform: scale(1.01);
}
/* ABOUT-US */

.personal-social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* FOOTER */
footer {
    background-color: #1a2a42;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110vw;
  }
footer .footer-container{
    display: flex;
    flex-direction: row;
    padding: 50px 10px;
}
footer .footer-container .row{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
footer .footer-container .row .col-4 .footer-logo img{
    width: 75px;
    height: auto;
    gap: 10px;
    cursor: pointer;
}
footer .footer-container .row .col-4 .footer-text{
    color: rgba(255, 255, 255, 0.787);
}
footer .footer-container .row .col-4 .title{
    color: rgba(255, 255, 255, 0.824);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    gap: 20px;
}
footer .footer-container .row .col-4 .footer-title{
    font-size: 22px;
    gap: 20px;
    display: flex;
}
footer .footer-container .row .col-4 .title:hover{
 transition: all ease-in-out 0.5s;
 transform: scale(1.04);
}
footer .footer-container .row .col-4 .fa-phone{
    color: rgba(255, 255, 255, 0.824);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
footer .footer-container .row .col-4 .fa-phone:hover{
    transition: all ease-in-out 0.5s;
    transform: scale(1.04);
}

footer .footer-container .row .col-4 .fa-envelope{
    color: rgba(255, 255, 255, 0.713);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
footer .footer-container .row .col-4 .fa-envelope:hover{
    transition: all ease-in-out 0.5s;
    transform: scale(1.04);
}
footer .footer-container .row .col-4 .fa-map-marker{
    color: rgba(255, 255, 255, 0.713);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
footer .footer-container .row .col-4 .fa-map-marker:hover{
    transition: all ease-in-out 0.5s;
    transform: scale(1.04);
}
footer .hr{
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.355);
    align-items: center;
    margin: 32px;
}
footer .hr .copyright{
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.859);
    transition: all ease-in-out 0.5s;
    bottom: 10px;
}
footer .hr .copyright:hover{
    transform: scale(1.05);
    transition: all ease-in-out 0.5s;
}
footer .footer-container  .social-media{
    width: 25%;
    height: 70%;
}
.socail-media{
    height: 43px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 7px;
    margin-top: 2px;
}
.insta-icon svg{
    width: 37px;
    height: 37px;

}
.facebook-icon svg{
    width: 30px;
    height: 30px;

}
.linkedin-icon svg{
    width: 28px;
    height: 28px;

}
.twitter-icon svg{
    width: 32px;
    height: 32px;

}
/* FOOTER */


/* BİLGİSAYAR - YAN TABLET*/
@media screen and (min-width: 1024px) {
    .mobile-menu-icon{
        display: none;
    }
}

/* BİLGİSAYAR - YAN TABLET*/
/* TABLET*/
@media screen and (max-width: 1023px) {
    .mobile-menu-icon{
        display: none;
    }
    .menu{
        display: block;
    }
}

/* TABLET*/

/* YAN TELEFON*/
@media screen and (max-width: 767px) {
    .mobile-menu-icon{
        display: block;
    }
    .menu{
        display: none;
    }

    .slider .buttons{
        display: none;
    }
    .mobile-menu-container .mobile-menu{
        width: calc(100% - 60px);
        border-radius: 0;
    }
}
/* YAN TELEFON*/

/* TELEFON*/
@media screen and (max-width: 480px) {
    .mobile-menu-icon{
        display: block;
    }
    .menu{
        display: none;
    }
}
/* TELEFON*/