html,body{
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Inter', sans-serif;
}
body{
    min-height: 300vh;
    background-color: #e7e7e7b1;
    overflow-x: hidden;
}
header{
    padding: 10px 15px;
    position: relative;
    background-color: #6f6f6f90;
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.214) 0px 4px 12px;
    position: fixed;
    width: calc(100% - 30px);
    max-width: 100%;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
}

header .wrapper{
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: row;
    align-items: stretch; 
    /*İçerisindeki elementlerin yüksekliğini aynı yapmak için*/
    justify-content: space-between;
}
header .wrapper .logo img{
    width: 100%;
    max-height: 70px;
}
header .wrapper .logo{
    padding-right: 30px;
}
.menu .nav{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: stretch;
    height: 100%;
    padding-right: 100px;
}
.menu .nav .item{
    display: flex;
    padding: 0 5px;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    transition: all ease-in-out 0.3s;
    color: white;
}
.menu .nav .item:hover{
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.menu .nav .item .content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
}
.menu .nav .item .icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu .nav .item .icon svg{
    width: 20px;
    transition: all ease-in-out 0.3s;
}

.menu .nav .item:hover .icon svg{
    width: 20px;
    transform: rotateZ(-180deg);
}

.mobile-menu .menu-icon{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mobile-menu .menu-icon svg{
    width: 30px;
}
.container{
    max-width: 1100px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner-1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.banner-1 .item{
    width: calc(25% - 2px);
    min-width: 200px;
    min-height: 200px;
    background-color: cyan;
    border: 1px solid black;
}

.slider{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
}
.slider .buttons{
    height: 100%;
    width: 94%;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
}
.slider .buttons button{
    padding: 0;
    margin: 0;
    border-radius: 100%;
    background: transparent;
    border-width: 0;
    outline-width: 0;
    color: #ffffffac;
    width: 40px;
    height: 40px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .buttons button:hover{
    background-color:  rgba(240, 240, 240, 0.427);
    scale: 1.2;

}

.slider .buttons button svg{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    transform: translateX(-2px) ;
}
.slider .buttons .left{
    transform: translateX(-5px);
    z-index: 12;
}
.slider .buttons .right{
    transform: translateX(5px);
    z-index: 12;
}
.slider .buttons .right svg{
    transform: translateX(2px);
}
.slider .slides{
    width: 100%;
    z-index: 10;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider .item{
    position: relative;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    object-position: center;
}
.slider .item.img img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.slider .item.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slider .slides .item .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    z-index: 12;
    left: 0;
    top: 0;
    color: white;
}
.slider .slides .item .content h1{
    margin-top: 50px;
    color: white !important;
    font-size: 70px;
    letter-spacing: -4px;
    transition: all ease-in-out 0.3s;
    margin: 30px;
}
.slider .slides .item .content h1:hover{
    font-size: 75px;
    letter-spacing: 0px;
    transition: all ease-in-out 0.5s;
}

/* BİLGİSAYAR - YAN TABLET*/
@media screen and (min-width: 1024px) {
    .mobile-menu{
        display: none;
    }
}
/* BİLGİSAYAR - YAN TABLET*/
/* TABLET*/
@media screen and (max-width: 1023px) {
    .mobile-menu{
        display: none;
    }
    .menu{
        display: block;
    }
}
/* TABLET*/

/* YAN TELEFON*/
@media screen and (max-width: 767px) {
    .mobile-menu{
        display: block;
    }
    .menu{
        display: none;
    }
}
/* YAN TELEFON*/

/* TELEFON*/
@media screen and (max-width: 480px) {
    .mobile-menu{
        display: block;
    }
    .menu{
        display: none;
    }
}
/* TELEFON*/